*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
}
a,a:hover{
	text-decoration: none;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
/***************************
	heder css
****************************/
header{
	width: 100%;
	background: url(../img/banner.png) center top no-repeat;
	background-size: cover;
}
.nav-link{
	color: white !important;
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 16px;
	font-weight: 600;
}
.nav-link:hover{
	color: #008ed6 !important;
	background: url(../img/divider.png) center bottom no-repeat;
	font-weight: 600;

}
.nav-item{
	margin-left: 16px;
}
.navbar{
	padding: 1rem 0; 

}
/***************************
	banner css
****************************/
.banner-text{
	padding: 140px 35px;
}
.banner-text h6{
	color: #008ed6;
	text-transform: uppercase;
}
.banner-text h1{
	color: white;
	font-size: 48px;
	font-weight: 600;
	margin-top: 24px;
}
.banner-text p{
	color: #999999;
	font-size: 18px;
	margin-bottom: 56px;
}
.banner-text .banner-btn button{
	text-transform: uppercase;
    color: white;
    background: transparent;
    padding: 16px 42px;
    border: 1px solid #999999;
    margin-right: 32px;
    border-radius: 5px;
    font-weight: 600;
    outline: none;
}
.banner-text .banner-btn button:hover{
	background: #008ed6;
}
.butn-1{
	background: #008ed6 !important; 
	border: 1px solid #008ed6;
}
.iphone-img{
    margin-top: 145px;
    padding-left: 60px;
}
/***************************
	features-1 css
****************************/
.features{
	background: #fff;
	padding: 80px 0px;
	border-bottom: 1px solid #d9d9d9; 
}
.title{
	text-align: center; 
	margin-bottom: 42px;

}
.title h6{
	color: #008ed6;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}
.title h1{ 
	font-size: 42px;
	font-weight: 600;
}
.feature{
	text-align: center;
    padding: 32px 20px;
}
.feature i{
	height: 80px;
	width: 80px;
	line-height: 80px;
	font-size: 32px;
	color: #008ed6;
	border-radius: 50%;
	border: 1px solid #d9d9d9;
	font-weight: 400;
}
.feature h3{
	margin: 30px 0px 14px 0px;
	font-size: 34px;
}
.feature p{
	font-size: 18px;
	color: #999999;
}
/***************************
	features-2 css
****************************/
.features-2{
	background: #fff;
	padding: 80px 0px;
}
.text-right{
	text-align: left;
	padding-top: 56px;
}
.text-right p{
	margin: 20px 0px 30px 0px;
}
.text-right ul li i{
	color: #008ed6;
	margin-right: 16px;
}
.text-right ul li{
	font-size: 18px;
	margin-bottom: 8px;	
}
/***************************
	features-3 css
****************************/
.features-3{
	background: #f2f2f2;
	padding: 80px 0px;
}
.texts{
	padding-top: 80px;
}
.texts h6{
	color: #008ed6;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}
.texts h1{
	font-size: 42px;
	font-weight: 600;
}
.texts p{
	font-size: 18px;
	color: #999999;
	margin: 20px 0px 30px 0px;
}
/***************************
	testimonial css
****************************/
.testimonial{
	width: 100%;
	padding: 80px 0px;
	background: url(../img/banner2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.testimonial .title h1{
	color: #fff;
}
.testimonial .col-md-10{
	text-align: left;
}
.comment h4{
	font-size: 24px;
	color: #fff;
	font-style: italic;
	font-weight: 400; 
	margin-bottom: 16px;
} 
.comment span{
	color: #fff;
	font-size: 16px;
}
.comment p{
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
/***************************
	like-us css
***************************/
.like-us{
	width: 100%;
	padding: 50px 0px;
	background: black;
}
.like-us-details{
	color: white;
}
.like-us-details h2{
	font-size: 36px;
	font-weight: 100;
}
.like-us-details span{
	font-weight: 600;
}
.like-us-button button {
    background: transparent;
    color: white;
    padding: 16px 32px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #444348;
    border-radius: 3px;
    margin-right: 24px;
    font-size: 12px;
}
/***************************
	pricing css
***************************/
.pricing{
	width: 100%;
	padding: 80px 0px;
}
.p-table{
	border: 1px solid #d8d8d8;
	text-align: center;
}
.p-cat{
	padding: 16px;
	border-bottom: 1px solid #d8d8d8;
}
.p-cat h2{
	margin: 0;
	text-transform: uppercase;
	font-weight: 700;
}
.p-price{
	border-bottom: 1px solid #d8d8d8;
	padding: 16px;
}
.p-price h1{
	font-size: 60px;
	font-weight: 700;
	position: relative;
}
.p-price h1::before {
    position: absolute;
    content: '$';
    top: 15px;
    left: 30%;
    font-size: 25px;
}
.p-price p{
	color: #bbbbbb;
	font-style: italic;
}
.p-desc{
	padding: 16px;
}
.p-desc p{
	margin: 15px;
    font-size: 18px;
    color: #bbbbbb;
}
.p-desc button{
	padding: 12px 32px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    background: none;
    color: #008ed6;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding-bottom: 12px;
}
.p-table:hover .p-cat h2{
	color: #008ed6;
}
.p-table:hover .p-price{
	background: #008ed6;
}
.p-table:hover .p-price h1, .p-table:hover .p-price p{
	color: #fff;
}
.p-table:hover .p-desc button{
	background: #008ed6;
	color: #fff;
}
/***************************
	contact-us css
***************************/
.contact-us{
	/*padding: 80px 0px;*/
	width: 100%;
	background: #ededed;
	padding-top: 80px;
}
.contact-details{
	text-align: center;
}
.contact-details-1 {
    text-align: center;
}
.contact-details-1 i {
    font-size: 36px;
    color: #008ed7;
    padding: 7%;
}
.contact-details-1 p {
    color: #bbbbbb;
}
.contact-f{
    z-index: 99999;
}
.contact-form {
    background: black;
    padding: 42px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}
.form-control{
	background: transparent;
    outline: none;
    border: 1px solid #464646;
    margin-bottom: 16px;
    padding: 12px;
    color: #8b8b8b !important;
}
.form-area textarea {
    width: 100%;
    height: 182px;
}
.form-area-btn{
	text-align: right;
}
.form-area-btn button{
	padding: 15px 25px;
    border-radius: 4px;
    background-color: #008ed6;
    color: white;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
}
.maps{
	z-index: -9999 !important;
	margin-top: -80px;
}
/***************************
	footer css
***************************/

.footer{
    width: 100%;
    background: black;
    text-align: center;
    margin: 0;
    padding: 30px 0px;
}
.social-footer ul li {
    padding: 5px 0px;
    list-style: none;
    display: inline-block;
}
.social-footer ul li a{
    color: #444348;
    font-size: 25px;
    padding-right: 18px;
}
.social-footer p{
	color:  #444348;
}
.social-footer ul li a:hover{
	color: #008ed6;
}